<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856214654821-o4ud9co3d3hg7qaoqdqm5np5ctoo5kub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856214654821-o4ud9co3d3hg7qaoqdqm5np5ctoo5kub</string>
	<key>API_KEY</key>
	<string>AIzaSyCpl-1Uh5v4h-uoo-V1qe-TDDX6dsQzeJs</string>
	<key>GCM_SENDER_ID</key>
	<string>856214654821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itgocorp.safetouch</string>
	<key>PROJECT_ID</key>
	<string>safetouch-fe9bc</string>
	<key>STORAGE_BUCKET</key>
	<string>safetouch-fe9bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856214654821:ios:ed760898f18a81e93a1b8c</string>
</dict>
</plist>